## target files
*.out
*.o

## temp files
*~
*.swp
tmp-*
tmp_*

## macOS
.DS_Store

## log files
*.log

## IDE config
.vscode
.idea

## docker compose file
/docker/docker-compose.yml

## data
backend/static
